<!-- ====== Footer Section Start -->
  <div class="container mx-auto">
    <div class="-mx-4 flex justify-around flex-wrap">
      <div class="w-full py-8 px-4 sm:w-2/3 lg:w-3/12">
        <div class="w-full my-auto">
          <a href="javascript:void(0)" class="inline-block w-full">
            <img
              src="assets/logo.png"
              alt="logo"
              class="h-12 object-cover"
            />
          </a>
        </div>
      </div>

      <div class="my-auto">
        <app-new-letter></app-new-letter>
      </div>

    </div>
  </div>

