
<div class="flex justify-between bg-gray-100">
  <div class="w-20 sm:w-40 min-h-screen bg-gray-50">
    <app-provider-side-bar></app-provider-side-bar>
  </div>
  <div class="w-full sm:w-8/12 mx-auto">
    <div class="flex justify-end my-4">
      <button (click)="isNewOfferPopup = true" class="px-6 py-3 bg-gray-300 font-semibold rounded-sm shadow-sm hover:bg-custPurple hover:text-white" type="button">
        NEW
      </button>
    </div>
    <app-offers [getForProvider]=true></app-offers>
  </div>
</div>



 <div class="overlay w-full px-3 z-[999]" *ngIf="isNewOfferPopup">
     <div class="popup w-full px-4 sm:w-3/4 md:w-1/2 sm:mx-auto mt-[100px]">
         <a class="close mb-3 z-[999]" (click)="isNewOfferPopup = false">&times;</a>
         <div class="content mt-8 h-[450px] flex items-center justify-center overflow-y-scroll">
            <app-add-offer></app-add-offer>
         </div>
     </div>
 </div>
