
<div class="bg-gray-200/60 w-full relative flex min-h-screen flex-row justify-center overflow-hidden py-6 px-4 sm:py-12">

  <div class="w-[650px] relative bg-white grid grid-cols-12 grid-rows-6 p-4 border shadow-md rounded-xl">
    <div class="flex flex-col justify-around  col-start-2 col-end-12 row-start-2 row-end-6">

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" method="post" name="loginfom" id="formId">
          <div class="w-full p-4 absolute left-0 top-0">
            <a class="text-black text-sm font-thin cursor-pointer" routerLink="/">Home?</a>
          </div>
          <div>
                <img class="h-20 mx-auto mb-2" src="assets/logo.png" alt="logo">
                <div class="m-5 text-center ">
                     <div class="border-custPurple">
                        <input formControlName="email" class="w-full rounded-lg border bg-gray-50 outline-none py-3 px-2" type="email" name="email"
                               placeholder="Email" required>
                    </div>
                    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                            class="text-red-500 text-sm">

                                <div *ngIf="email?.errors?.['required']">
                                    Email is required.
                                </div>
                                <div *ngIf="email?.errors?.['email']">
                                    Email must be a valid email.
                                </div>
                    </div>

                </div>
                <div class="m-5 text-center ">
                     <div class=" ">
                        <input formControlName="password" class="w-full rounded-lg border bg-gray-50 outline-none py-3 px-2" type="password" name="password"
                               placeholder="Password" required>
                    </div>
                    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                        class="text-red-500 text-sm">

                                <div *ngIf="password?.errors?.['required']">
                                    Password is required.
                                </div>
                                <div *ngIf="password?.errors?.['pattern']">
                                    Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character.
                                </div>

                        </div>
                </div>

                <div class="w-full flex justify-center">
                  <button type="submit" [disabled]="!loginForm.valid" id="submitBtnId"
                          class="w-full mx-4 inline-block border rounded-lg {{!loginForm.valid ? 'bg-gray-200 text-gray-500' : 'bg-custGray text-black'}}  py-3 text-white font-semibold"
                  >
                    <ng-container *ngIf="loading">
                    Loading...
                  </ng-container>
                  <ng-container *ngIf="!loading">
                    LOGIN
                  </ng-container>

                  </button>

                </div>



            </div>
        </form>

  </div>

<div class="w-full flex justify-end p-4 absolute bottom-0">
  <a class="text-custPurple font-semibold cursor-pointer" routerLink="/signup">Sign up?</a>
</div>


<div *ngIf="loading" class="loading-overlay">
    <div class="spinning-circle"></div>
</div>

<div *ngIf="loadingLoginResult" class="loading-overlay flex justify-center items-center my-auto mx-auto">
  <div class="h-1/4">
    <lottie-player  [src]="animationSrc"  background="transparent"  speed="1" loop  autoplay >
    </lottie-player>
  </div>
</div>


</div>

</div>

